__pycache__/grading_model.cpython-39.pyc
__pycache__/api_utils.cpython-39.pyc
__pycache__/key_words.cpython-39.pyc
__pycache__/main.cpython-39.pyc
__pycache__/plagiarism_model.cpython-39.pyc
__pycache__/transformer_model.cpython-39.pyc
